<main>

    <!-- About Us Section -->
    <div id="next-section" class="flex flex-col gap-12 p-5 lg:flex-row items-center justify-between pt-64">

        <!-- About Us Text -->
        <div class="flex-1 text-center lg:text-left">
            <p class="mb-6 text-sm text-gray-700 px-6">
                <%= aboutUsSection.paragraphOne %>
            </p>
            <p class="mb-6 text-sm text-gray-700 px-6">
                <%= aboutUsSection.paragraphTwo %>
            </p>
            <p class="text-sm text-gray-700 px-6">
                <%= aboutUsSection.paragraphThree %>
            </p>
        </div>

        <!-- 3D Slider -->
        <div class="flex-1 overflow-hidden">
        <div class="slider-3d-wrapper">
            <div class="slider-3d-container">
            <div class="slider-3d-track">
                <div class="slider-3d-item">
                <img src="../assets/public/images/<%= aboutUsSection.images[0] %>" alt="Slide 1">
                </div>
                <div class="slider-3d-item">
                <img src="../assets/public/images/<%= aboutUsSection.images[1] %>" alt="Slide 2">
                </div>
                <div class="slider-3d-item">
                <img src="../assets/public/images/<%= aboutUsSection.images[2] %>" alt="Slide 3">
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>

    <!-- Our Services -->
    <section id="services" class="mt-96 md:mt-0 lg:mt-0 py-24 px-6 bg-gray-200 overflow-hidden md:px-10 lg:px-20">
        <div class="container mx-auto overflow-hidden">
        <h2 class="mb-16 text-4xl font-extrabold text-center text-black"><%= ourServicesSection.ourServicesHeader %></h2>
        <!-- Service Cards -->
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
            
            <!-- Business Websites -->
            <div class="service-card p-8 bg-gray-100 transform opacity-0 translate-x-10 hover:transition-all duration-700 hover:opacity-100 hover:translate-x-0 shadow-lg hover:shadow-xl">
            <div class="flex items-center justify-center mb-6">
                <div class="w-16 h-16 bg-blue-500 text-white rounded-full flex items-center justify-center">
                <span class="material-icons">business_center</span>
                </div>
            </div>
            <h3 class="mb-6 text-2xl font-semibold text-center"><%= ourServicesSection.services[0].title %></h3>
            <ul class="pl-6 space-y-3 text-sm text-gray-700 list-disc">
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[0].bullets[0] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[0].bullets[1] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[0].bullets[2] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[0].bullets[3] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[0].bullets[4] %></li>
            </ul>
            </div>
            <!-- E-Commerce -->
            <div class="service-card p-8 bg-gray-100 transform opacity-0 translate-x-10 hover:transition-all duration-700 hover:opacity-100 hover:translate-x-0 shadow-lg hover:shadow-xl">
            <div class="flex items-center justify-center mb-6">
                <div class="w-16 h-16 bg-green-500 text-white rounded-full flex items-center justify-center">
                <span class="material-icons">shopping_cart</span>
                </div>
            </div>
            <h3 class="mb-6 text-2xl font-semibold text-center"><%= ourServicesSection.services[1].title %></h3>
            <ul class="pl-6 space-y-3 text-sm text-gray-700 list-disc">
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[1].bullets[0] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[1].bullets[1] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[1].bullets[2] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[1].bullets[3] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[1].bullets[4] %></li>
            </ul>
            </div>
            <!-- Landing Pages -->
            <div class="service-card p-8 bg-gray-100 transform opacity-0 translate-x-10 hover:transition-all duration-700 hover:opacity-100 hover:translate-x-0 shadow-lg hover:shadow-xl">
            <div class="flex items-center justify-center mb-6">
                <div class="w-16 h-16 bg-yellow-500 text-white rounded-full flex items-center justify-center">
                <span class="material-icons">pageview</span>
                </div>
            </div>
            <h3 class="mb-6 text-2xl font-semibold text-center"><%= ourServicesSection.services[2].title %></h3>
            <ul class="pl-6 space-y-3 text-sm text-gray-700 list-disc">
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[2].bullets[0] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[2].bullets[1] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[2].bullets[2] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[2].bullets[3] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[2].bullets[4] %></li>
            </ul>
            </div>
            <!-- Portfolio -->
            <div class="service-card p-8 bg-gray-100 transform opacity-0 translate-x-10 hover:transition-all duration-700 hover:opacity-100 hover:translate-x-0 shadow-lg hover:shadow-xl">
            <div class="flex items-center justify-center mb-6">
                <div class="w-16 h-16 bg-red-500 text-white rounded-full flex items-center justify-center">
                <span class="material-icons">portrait</span>
                </div>
            </div>
            <h3 class="mb-6 text-2xl font-semibold text-center"><%= ourServicesSection.services[3].title %></h3>
            <ul class="pl-6 space-y-3 text-sm text-gray-700 list-disc">
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[3].bullets[0] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[3].bullets[1] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[3].bullets[2] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[3].bullets[3] %></li>
                <li><i class="fas fa-check-circle mr-3"></i><%= ourServicesSection.services[3].bullets[4] %></li>
            </ul>
            </div>
        </div>
        </div>
    </section>

    <form id="form" class="contact-form mt-20">
        <div class="flex justify-center align-center pb-32">
        <div class="bg-gray-800 p-8 rounded-2xl shadow-xl w-96 border border-gray-300">
            <Legend class="text-2xl font-semibold text-center text-white mb-6">Contact Us</Legend>
            
            <label class="block text-white font-medium">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" title="Only letters and white spaces" class="w-full p-3 border border-gray-300 bg-white rounded-lg focus:ring-2 focus:ring-gray-400 focus:outline-none transition-all text-gray-900" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚú\s]+$" required>
            <label class="block mt-4 text-white font-medium">Telephone:</label>
            <input type="text" id="telephone" name="telephone" class="w-full p-3 border border-gray-300 bg-white rounded-lg focus:ring-2 focus:ring-gray-400 focus:outline-none transition-all text-gray-900">
            <label class="block mt-4 text-white font-medium">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" title="Incorrect email" class="w-full p-3 border border-gray-300 bg-white rounded-lg focus:ring-2 focus:ring-gray-400 focus:outline-none transition-all text-gray-900" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9]+(\.[a-z0-9]+)*(\.[a-z]{2,15})$" required>
            <label class="block mt-4 text-white font-medium">Message:</label>
            <textarea id="message" name="message" class="w-full p-3 border border-gray-300 bg-white rounded-lg h-24 resize-none focus:ring-2 focus:ring-gray-400 focus:outline-none transition-all text-gray-900" placeholder="Send me a message" title="No more than 255 characters" data-pattern="^.{1,255}$" required></textarea></textarea>
            
            <input type="submit" class="mt-6 w-full text-gray-800 p-3 rounded-lg transition-all shadow-md" value="Send"></button>

            <!-- Loader -->
            <div class="contact-form-loader none w-full flex justify-center">
                <img src="../assets/public/images/loader.svg" alt="Loading">
            </div>
            <div class="contact-form-response none mt-10">
                <p class="text-green-400"></p>
            </div>
        </div>
        </div>
    </form> 

</main>
